<template name="buy">
  <div class="col-sm-9 col-lg-10">
    <div class="wallet buy">
      <h2>Buy {{ dICOTName }}</h2>

        <div class="container-fluid">
            <div class="row">
                {{#unless ready}}<span><p>Syncing orderbook (may take a few minutes) {{ > sloader }}</p></span> {{/unless}}
            </div>
            <div style="padding-bottom: 8px" class="row">Price per {{dICOTName}} - 1 {{dICOTName}} equals:</div>
            <div style="padding-bottom: 5px" class="row">{{pricebtc}} <strong>BTC</strong></div>
            <div style="padding-bottom: 5px" class="row">{{priceltc}} <strong>LTC</strong></div>
            <div style="padding-bottom: 5px" class="row">{{pricekmd}} <strong>KMD</strong></div>
            {{#if usdPrice}}
                <div style="padding-bottom: 15px" class="row">{{usdPrice}} <strong>USD</strong></div>
            {{/if}}
        </div>
        <br/>
        <span>
            <p>Select your wallet and enter the number of GLXTs you wish to purchase. The software will display the total amount necessary.</p>
        </span>

        <div class="panel-group selected-coin">
            <div class="select-coin-btn select-btc {{#if selectedCoinBTC }}selected{{/if}}">
              <div><img src="/img/bitcoin.png" class="coin-logo center-block" alt="bitcoin"></div>
              <div class="coin-name">Bitcoin</div>
              <div class="coin-balance">{{balanceBTC}}</div>
          </div>
          <div class="select-coin-btn select-ltc {{#if selectedCoinLTC }}selected{{/if}}">
              <div><img src="/img/litecoin.png" class="coin-logo center-block" alt="bitcoin"></div>
              <div class="coin-name">Litecoin</div>
              <div class="coin-balance">{{balanceLTC}}</div>
          </div>
          <div class="select-coin-btn select-kmd {{#if selectedCoinKMD }}selected{{/if}}">
              <div><img src="/img/komodo.png" class="coin-logo center-block" alt="bitcoin"></div>
              <div class="coin-name">Komodo</div>
              <div class="coin-balance">{{balanceKMD}}</div>
          </div>
        </div>

        <div class="container-fluid">
            <div class="row row-dico">
                <div class="input-group dico">
                    <input style="border: solid 1px #ccc;" type="number" id="bntnbuyamount" class="form-control buy bntnbuyamount input-number" aria-label="0.00000000 {{dICOTName}}" placeholder="0.00000000 {{dICOTName}}" value="1000000" step="1000" min="1">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number btn-buymax" data-type="plus" data-field="quant[1]">
                            BUY MAX
                        </button>
                    </span>
                </div>
                <div class="equal">=</div>
                <div class="token-total">
                    {{#if selectedCoinBTC }}<span id="amountBTC">{{amountBTC}}</span> <strong>BTC</strong>{{/if}}
                    {{#if selectedCoinLTC }}<span id="amountLTC">{{amountLTC}}</span> <strong>LTC</strong>{{/if}}
                    {{#if selectedCoinKMD }}<span id="amountKMD">{{amountKMD}}</span> <strong>KMD</strong>{{/if}}
                </div>
            </div>
        </div>

        <div class="container-fluid buy-btn center">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default buybloc" disabled={{buyDisabled}} type="button">BUY GLXT</button>
                </div>
            </div>
        </div>



      {{#if usdPrice}}
        <div class="amountusd-container hidden">
          Amount in USD
          <input style="border: solid 1px #ccc" type="number" id="bntnbuyamountusd" class="form-control bntnbuyamountusd input-number" aria-label="Amount USD" placeholder="Amount USD" value="0" step="1" min="1" max="500000">
        </div>
      {{/if}}

      <div class="buywith-container hidden">
        Buy with
        <select class="buywith">
          <option value="BTC">BTC</option>
          <option value="LTC">LTC</option>
          <option value="KMD">KMD</option>
        </select>
      </div>


    </div>
  <br>
  <div class="wallet buy">
  <h4>Your participations:</h4>
    <table class="table table-bordered swaps">
    <thead>
    <tr>
      <th>Trade ID</th>
      <th>{{dICOTName}} amount</th>
      <th>Status</th>
      <th>Price per {{dICOTName}}</th>
      <th>Paid with</th>
      <th>Date</th>
      <th>Info</th>
    </tr>
    </thead>

    <tbody>
    {{#each swaps}}
      {{> swap}}
    {{/each}}
    </tbody>
    </table>

</div>
</div>
</template>

<template name="swap">
<tr>
<td>{{tradeid}}</td>
<td>{{value}}</td>
<td>{{#unless timedout}}[{{step}}/4]{{/unless}} {{status}} {{#unless finished}} {{> sloader}} {{/unless}}{{#if finished}}{{#unless timedout}}{{> check}}{{/unless}}{{/if}}</td>
<td>{{price}}</td>
<td>{{paycoin}}</td>
<td>{{#unless matched}}{{finishtime}}{{/unless}}{{#if matched}}matched {{> check}}{{/if}}</td>
<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal-{{_id}}">
  <i class="glyphicon glyphicon-info-sign"></i>
</button></td>
</tr>

<!-- Modal -->
<div class="modal fade" id="exampleModal-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details for trade <b>{{uuid}}</b></h5>
        <p>quoteid: <b>{{quoteid}}</b> | requestid: <b>{{requestid}}</b></p>
        <p>trade issued: <b>{{createdAt}}</b><br>trade finished: <b>{{finishtime}}</b></p>
      </div>
      <div class="modal-body">
        {{#unless timedout}}
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Atomic Step</th>
              <th scope="col">TXID</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Bobdeposit:</th>
              <td>{{bobdeposit}}</td>
            </tr>
            <tr>
              <th scope="row">Alicepayment:</th>
              <td>{{alicepayment}}</td>
            </tr>
            <tr>
              <th scope="row">Bobpayment:</th>
        <td>{{bobpayment}}</td>
        </tr>
        <tr>
          <th scope="row">Paymentspent:</th>
          <td>{{paymentspent}}</td>
          </tr>
        </tbody>
      </table>
      {{/unless}}
      {{#if timedout}}
        <h4>This swap timed out!</h4>
      {{/if}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</template>
